.wrapperFistSection {
    margin-top: 20rem;
}

.HeaderMyNameAndJob {
    text-align: center;
    margin-bottom: 3rem;
}

.fontBold {
    font-size: 3rem;
}

.fontMedium {
    font-size: 2rem;
}

.bannerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.textRight {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4rem 3.5rem;
    margin-right: 3rem;
    transition: all .2s linear;
}

.textRight::before {
    content: "";
    position: absolute;
    bottom: 380px;
    left: 0;
    width: 0;
    height: 30px;
    background-color: #764abc !important;
    transition: all 1s;
    z-index: -1;
    transform: translateX(100%);
    border-radius: 10px;
}

.textRight:hover {
    background-color: rgb(229, 229, 229);
}

.textRight:hover::before {
    transform: translateX(0);
    width: 90%;
    left: 5%;
    background-color: rgb(229, 229, 229);
}

.textRight span {
    font-size: 4rem;
    font-weight: 900;
    text-transform: capitalize;
}

.imageLeft {
    position: relative;
}

.imageLeft .abs1 {
    position: absolute;
    top: 30px;
    left: 0;
    animation: animateSpace 5s infinite;
}

@keyframes animateSpace {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(150px, 40px) scale(1.5);
    }

    100% {
        transform: translate(0, 0);
    }
}

.imageLeft .abs2 {
    position: absolute;
    top: 130px;
    right: 20px;
    animation: animateManSpace 5s infinite;
}

@keyframes animateManSpace {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-150px, -40px) rotate(35deg);
    }

    100% {
        transform: translate(0, 0);
    }
}

.imageLeft .abs3 {
    position: absolute;
    bottom: 30px;
    right: 400px;
    animation: animateSit 5s infinite;
}

@keyframes animateSit {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-170px);
    }

    100% {
        transform: translateY(10px);
    }
}

.bannerWrapper .imageLeft {
    width: 200%;
}

.bannerWrapper .imageLeft>img {
    width: 100%;
}