.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    box-shadow: 0 2px 15px rgb(206, 206, 206);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: #f4f4f4;
}

.navbarLeftWrapper {
    display: flex;
}

.navbarLeftWrapper span {
    margin-left: 4rem;
    cursor: pointer;
    font-size: 2rem;
}

.mainLogo img {
    padding-top: 0.5rem;
}

.logoRightWrapper {
    margin-right: 4rem;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: 30px;
}

.imgLogo {
    width: 100%;
    height: 100%;
}

/* ====== */

.spanAnimate {
    height: fit-content;
    font-size: 60px;
    text-align: center;
    color: #000;
    opacity: 0.8;

}

.spanAnimate:after {
    display: block;
    content: '';
    border-bottom: solid 5px rgb(86, 86, 228);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.spanAnimate:hover:after {
    transform: scaleX(1);
}